@inherits OwningComponentBase<ICustomerService>

<EditForm Model="customer" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="modal fade @(IsVisible ? "show" : "")" tabindex="-1" style="display:@(IsVisible ? "block" : "none")">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Přidat zákazníka</h5>
                    <button type="button" class="btn-close" aria-label="Zavřít" @onclick="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">Jméno</label>
                            <InputText id="firstName" class="form-control" @bind-Value="customer.FirstName" />
                            <ValidationMessage For="@(() => customer.FirstName)" />
                        </div>

                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Přijmení</label>
                            <InputText id="lastName" class="form-control" @bind-Value="customer.LastName" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-12">
                            <label for="documentNumber" class="form-label">Číslo Dokladu</label>
                            <InputText id="documentNumber" class="form-control" @bind-Value="customer.DocumentNumber" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="dateOfIssue" class="form-label">Datum vydání</label>
                            <InputDate id="dateOfIssue" class="form-control" @bind-Value="customer.DateOfIssue" />
                        </div>

                        <div class="col-md-6">
                            <label for="dateOfExpiry" class="form-label">Datum expirace</label>
                            <InputDate id="dateOfExpiry" class="form-control" @bind-Value="customer.DateOfExpiry" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="placeOfBirth" class="form-label">Místo narození</label>
                            <InputText id="placeOfBirth" class="form-control" @bind-Value="customer.PlaceOfBirth" />
                        </div>

                        <div class="col-md-6">
                            <label for="dateOfBirth" class="form-label">Datum narození</label>
                            <InputDate id="dateOfBirth" class="form-control" @bind-Value="customer.DateOfBirth" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="personalIdentificationNumber" class="form-label">Rodné číslo</label>
                            <InputText id="personalIdentificationNumber" class="form-control" @bind-Value="customer.PersonalIdentificationNumber" />
                        </div>

                        <div class="col-md-6">
                            <label for="national" class="form-label">Národnost</label>
                            <InputText id="national" class="form-control" @bind-Value="customer.Nationality" />
                        </div>
                    </div>


                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <InputText id="email" type="email" class="form-control" @bind-Value="customer.Email" />
                        </div>

                        <div class="col-md-6">
                            <label for="phone" class="form-label">Telefon</label>
                            <InputText id="phone" class="form-control" @bind-Value="customer.Phone" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="address" class="form-label">Adresa</label>
                            <InputText id="address" class="form-control" @bind-Value="customer.Address" />
                        </div>

                        <div class="col-md-6">
                            <label for="city" class="form-label">Město</label>
                            <InputText id="city" class="form-control" @bind-Value="customer.City" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="country" class="form-label">Země</label>
                            <InputText id="country" class="form-control" @bind-Value="customer.Country" />
                        </div>

                        <div class="col-md-6">
                            <label for="postalCode" class="form-label">PSČ</label>
                            <InputText id="postalCode" class="form-control" @bind-Value="customer.PostalCode" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="createdAt" class="form-label">Vytvořeno</label>
                            <InputDate id="createdAt" class="form-control" @bind-Value="customer.CreatedAt" />
                        </div>

                        <div class="col-md-6">
                            <label for="updatedAt" class="form-label">Aktualizováno</label>
                            <InputDate id="updatedAt" class="form-control" @bind-Value="customer.UpdatedAt" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Close">Zavřít</button>
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade @(IsVisible ? "show" : "")" style="display:@(IsVisible ? "block" : "none")"></div>
</EditForm>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    private Customer customer = new Customer();

    private async Task HandleValidSubmit()
    {
        await Service.CreateCustomerAsync(customer);
        await OnClose.InvokeAsync(false); // Zavřít modal po uložení
    }

    private Task Close() => OnClose.InvokeAsync(false); // Zavřít modal na zavolání
}
