@inherits OwningComponentBase<IInvoiceService>
@inject IInvoiceService InvoiceService
@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager

<EditForm Model="invoice" OnValidSubmit="HandleValidSubmit">
    <div class="modal fade @(IsVisible ? "show" : "")" tabindex="-1" style="display:@(IsVisible ? "block" : "none")">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Přidat Fakturu</h5>
                    <button type="button" class="btn-close" aria-label="Zavřít" @onclick="Close"></button>
                </div>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="modal-body">
                    <!-- Customer Search -->
                    <div class="mb-3">
                        <label for="reservationId" class="form-label">Rezervace</label>
                        <InputNumber id="reservationId" class="form-control" @bind-Value="ReservationId" readonly />
                    </div>

                    <!-- Invoice Fields -->
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="issueDate" class="form-label">Datum vystavení</label>
                            <InputDate id="issueDate" class="form-control" @bind-Value="invoice.IssueDate" />
                        </div>
                        <div class="col-md-6">
                            <label for="dueDate" class="form-label">Datum splatnosti</label>
                            <InputDate id="dueDate" class="form-control" @bind-Value="invoice.DueDate" />
                        </div>
                    </div>
                    <!-- Other Invoice Fields -->
                    <div class="mb-3 row">
                        <div class="col-md-3">
                            <label for="discount" class="form-label">Sleva</label>
                            <InputNumber id="discount" class="form-control" @bind-Value="invoice.Discount" />
                        </div>
                        <div class="col-md-3">
                            <label for="currency" class="form-label">Měna</label>
                            <InputText id="currency" class="form-control" @bind-Value="invoice.Currency" />
                        </div>
                        <div class="col-md-3">
                            <label for="prepayment" class="form-label">Záloha</label>
                            <InputNumber id="prepayment" class="form-control" @bind-Value="invoice.Prepayment" />
                        </div>
                        <div class="col-md-3">
                            <label for="price" class="form-label">Cena</label>
                            <InputNumber id="price" class="form-control" @bind-Value="invoice.Price" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="isPaid" class="form-label">Zaplaceno</label>
                        <InputCheckbox id="isPaid" class="form-check-input" @bind-Value="invoice.IsPaid" />
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Popis</label>
                        <InputTextArea id="description" class="form-control" @bind-Value="invoice.Description" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Close">Zavřít</button>
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade @(IsVisible ? "show" : "")" style="display:@(IsVisible ? "block" : "none")"></div>
</EditForm>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public int ReservationId { get; set; }

    private Invoice invoice { get; set; } = new Invoice();




    private async Task HandleValidSubmit()
    {
        invoice.ReservationId = ReservationId;
        await InvoiceService.CreateInvoiceAsync(invoice);
        await OnClose.InvokeAsync(false);

    }

    private Task Close() => OnClose.InvokeAsync(false); // Close modal on request
}
