@page "/user"
@using Hotel_AdminPanel.Components.Layout
@layout UserLayout
@inject IRoomService RoomService
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h1>Hlavní stránka uživatele</h1>

<div class="container">
    <div class="row">
        @foreach (var room in rooms)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <button class="btn btn-primary" @onclick="() => NavigateToRoomDetailUser(room.Id)">Detail</button>
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">@room.RoomType.Type</h5>
                        <p class="card-text">@room.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private ICollection<Room> rooms = new List<Room>();

    protected override async Task OnInitializedAsync()
    {
        rooms = await RoomService.GetRooomsAsync();
    }

    private void NavigateToRoomDetailUser(int id)
    {
        NavigationManager.NavigateTo($"/roomUser/{id}");
    }
}