@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>
                <main>
                    <article class="content">
                        <TopBar />

                        @Body
                    </article>
                </main>
            </div>
        </Authorized>
        <NotAuthorized>
            @if (!IsLoginPage)
            {
                <RedirectToLogin />
            }
            else
            {
                @Body
            }
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private bool IsLoginPage => NavigationManager.Uri.Contains("/login");

}
