@page "/"
@inject NavigationManager Navigation
@inject IRoomService RoomService

<PageTitle>Admin Panel - Hotel Management</PageTitle>

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="container text-center">
        <h1 class="display-4">Vítejte na stránkách Hotel Management</h1>
        <p class="lead">Aplikace slouží pro správu zákazníků, pokojů a rezervací.</p>

        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Rooms Avaible</h5>
                        <p class="card-text">@roomsAvaible</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Pokoje
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Správa pokojů</h5>
                        <p class="card-text"></p>
                        <a href="/rooms" class="btn btn-dark">Pokoje</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Zákazníci
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Správa zákazníků</h5>
                        <p class="card-text"></p>
                        <a href="/customers" class="btn btn-dark">Zákazníci</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Rezervace
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Správa rezervací</h5>
                        <p class="card-text"></p>
                        <a href="/reservations" class="btn btn-dark">Rezervace</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    private List<Room> rooms = new List<Room>();
    private int roomsAvaible = 0;

    protected override async Task OnInitializedAsync()
    {
        rooms = await RoomService.GetRooomsAsync();
        roomsAvaible = rooms.Count(room => room.RoomStatus.Id == 1);
        
    }
    

}