@page "/room/add"
@inject IRoomService RoomService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="container mt-5">
    <div class="card border-0 shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Add Room Page</h3>
            <EditForm Model="room" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                @* RoomNumber . Room type . Room status . Price . Description *@



            </EditForm>
        </div>
    </div>
</div>


@code {
    private Room room = new Room();
    private void HandleValidSubmit()
    {
        RoomService.CreateRoomAsync(room);
        NavigationManager.NavigateTo("/rooms");
    }
}
