@page "/settings"
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<h3>Settings</h3>

<label>Choose theme:</label>




@code {

}
