@page "/nastaveni-rezervace"
@inject IReservationService ReservationService
@inject IJSRuntime JSRuntime

@rendermode InteractiveServer

<h3 class="text-center mb-4 page-title">Nastavení Rezervace</h3>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Meal plans</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Plán</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mealPlan in MealPlans)
                    {
                        <tr>

                            @if (editMealPlanId == mealPlan.Id)
                            {
                                <td class="w-25"><input @bind="mealPlan.Id" class="form-control" disabled /></td>
                                <td><input @bind="mealPlan.Plan" class="form-control w-100" /></td>
                                <td><input @bind="mealPlan.Price" class="form-control w-100" /></td>
                                <td>
                                    <button class="btn btn-success btn-sm" @onclick="() => SaveMealPlan(mealPlan)">
                                        <i class="bi bi-check"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" @onclick="() => CancelEditMealPlan(mealPlan)">
                                        <i class="bi bi-x"></i>
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td>@mealPlan.Id</td>
                                <td>@mealPlan.Plan</td>
                                <td>@mealPlan.Price</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" @onclick="() => EditMealPlan(mealPlan.Id)">
                                        <i class="bi bi-pencil"></i>
                                    </button>

                                    <button class="btn btn-danger btn-sm" @onclick="() => DeleteMealPlan(mealPlan.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>


                            }

                        </tr>

                    }
@*                     <button class="btn btn-primary" @onclick="ShowModalForRoomType"><i class="bi bi-plus-square"></i></button>
 *@
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {

    private List<MealPlan> MealPlans = new List<MealPlan>();

    private int? editMealPlanId;


    private void EditMealPlan(int mealPlanId)
    {
        editMealPlanId = mealPlanId;
    }

    private void CancelEditMealPlan(MealPlan mealPlan)
    {
        editMealPlanId = null;
    }

    private async Task SaveMealPlan(MealPlan mealPlan)
    {
        await ReservationService.UpdateMealPlanAsync(mealPlan);
        editMealPlanId = null;
    }


    private async Task DeleteMealPlan(int mealPlanId)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Opravdu chcete smazat tento plán?");
        if (confirmed)
        {
            await ReservationService.DeleteMealPlanAsync(mealPlanId);
            MealPlans = await ReservationService.GetMealPlansAsync();
        }
        
    }

    protected override async Task OnInitializedAsync()
    {
        MealPlans = await ReservationService.GetMealPlansAsync();
    }
}
